body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    overflow: hidden;
    margin: 0;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

.center-text {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.sidebar-section {
    width: 250px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
}

.fixed-sidebar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-section h2,
.sidebar-section label {
    text-align: left;
}

.skills .slider {
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    margin: 5px 0;
    height: 12px;
    overflow: hidden;
}

.skills .slider .slider-inner {
    background: #046407;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    color: rgb(46, 215, 16);
}
