/* Globální styl */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

/* Kontejnery projektů */
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Karty projektů */
.project-card {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 75%;
    max-width: 800px;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 10px;
}

.project-card.canceled {
    background-color: #4a4a4a; /* Světlejší barva */
}

.project-card:hover {
    transform: scale(1.05);
}

.project-icon {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.project-content {
    text-align: left;
}

.project-content h2 {
    margin: 10px 0;
    color: red;
}

.project-content p {
    color: green;
}
