body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.fixed-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    height: 75%;
    overflow-y: auto;
}

.project-icon {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
}

.fixed-section h1 {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.fixed-section p {
    color: green;
    margin-bottom: 10px;
    text-align: center;
}

.scrollable-content {
    padding: 20px;
    text-align: left;
}
