body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Slightly lighter black */
    color: #f2f2f2; /* Slightly lighter white for better readability */
    height: 100vh;
    overflow: hidden;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centered navigation */
    background-color: rgba(0, 0, 0, 0.8);
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.fixed-section {
    position: fixed;
    top: 70px; /* Increased top margin */
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: calc(100% - 100px); /* Better fitting within the viewport */
    overflow-y: auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.project-icon {
    margin-right: 10px;
}

.centered-title {
    color: #ff4500; /* Slightly warmer red */
    font-size: 3rem; /* More manageable size */
    line-height: 1;
}

.scrollable-content {
    padding: 20px;
    text-align: left;
    color: #00ff00; /* Adjusted green for better readability */
}
