@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Pomocné styly
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.container {
  text-align: center;
}

p {
  font-size: 24px;
  letter-spacing: 0.5px;
}


.handle {
  background: #ffe500;
  width: 14px;
  height: 30px;
  top: 0;
  left: 0;
  margin-top: 1px;
  position: absolute;
}


  &:hover {
    fill: #888;
  }
}
